*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.main-header{
    padding: 15px 0;
}

.main-header .nav{
    display: flex;
    flex-wrap: wrap;
}

.main-header .nav .main-menu{
    flex-grow: 1;
}

.nav .logo, .cta{
    width: 20%;
}

.cta{
    margin-left: auto;
}
#accedi{
   padding: 20px;
}

ul, li, menu{
    display: inline-block;
    text-align: center;
    color: white;
    padding: 5px 20px;
    font-family:Helvetica;
    }

#accedi{
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    margin-top: 5px;
}

/* HERO */
.hero-content{
    margin: 0 auto;
    max-width: 70%;
}

.hero-content>h1{
    text-align: center;
    color: white;
    font-family: Helvetica;
    margin: 90px 100px 0 90px;
}

.hero-p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    font-family: Helvetica;
    margin: 30px 100px 30px 90px;
}

.buttons{
    text-align: center;
    border-radius: 20px;
}

button{
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid white;
    margin-right: 5px;
}

.button-b{
    border: 1px solid black;
    background-color: black;
    color: white;
}

/* SEZIONI 60-40 */
.row{
    display: flex;
}

.row-reverse{
    flex-direction: row-reverse;
}

.w-60{
    flex-basis: 60%;
}

.w-40{
    flex-basis: 40%;
}

.section-col-reverse{
    flex-direction: row-reverse;
}

h2{
    font-family: Helvetica;
    text-align: left;
    margin-top: 50px;
    margin-right: 100px;
}

.col-40-p{
    font-family: Helvetica;
    margin-right: 100px;
    margin-top: 30px;
    font-size: 14px;
}

/* COL 100% */
.w-100{
    flex-basis: 100%;
}

/* FOOTER */
footer #footer-widget{
    padding: 10px 0 30px;
    border-bottom: 1px solid white;
}

footer .row{
    padding-top: 25px;
}

.col-4{
    flex-basis: calc(100% / 3);
}

.col-2{
    flex-basis: calc(100% / 6);
}

#colophon .row{
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.section{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* IMMAGINI DI SFONDO */
#hero{
    background-image: url("/img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* COLORI DI SFONDO */
header{
    background-color: #255ee9;
}

/* .golden{
    background-color: goldenrod;
} */

/* DEBUG */
.debug .row{
    border: 1px solid cornflowerblue;
    padding: 10px;
}

.debug .container{
    border: 2px solid salmon;
    padding: 5px;
}

/* .debug .nav *{
    border: 2px solid blue;
    padding: 30px;
} */

/* .hero-content{
    border: 2px solid goldenrod;
    min-height: 400px;
} */

.debug .col{
    min-height: 250px;
    border: 2px solid goldenrod;
    padding: 30px;
}

.debug #tech .col{
    min-height: 400px;
}

.debug footer{
    background-color: #333;
}

/* .debug header{
    background-color: cornflowerblue;
} */

.debug #colophon .container *{
    padding: 20px;
    border: 2px solid white;
}

/* .debug .section{
    border: 2px solid green;
} */